# Fichiers d'environnement contenant les secrets
.env
.env.development.local
.env.test.local
.env.production.local
backend/.env

# Fichiers Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
eggs/
.eggs/
tests/lib/
lib64/
parts/
sdist/
*.egg-info/
.installed.cfg
*.egg

# Répertoires de virtualenv
venv/
ENV/
env/
.venv/




# OS specific
.DS_Store
Thumbs.db

# Fichiers d'éditeurs
.idea/
.vscode/
*.swp
*.swo
*~
docs/projet_creation.ipynb
node_modules
